<!DOCTYPE html>
<html
  class="no-js no-svg" 
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
  lang="en">

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="CLIMPACT" />
    <meta name="keyword" content="CLIMPACT" />
    
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="profile" href="http://gmpg.org/xfn/11">
    
    <title>CLIMPACT</title>
  
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
    
    <script th:if="${@environment.getActiveProfiles()[0] == 'production'}"
            th:src="@{/js/vendor/util.min.js}"></script>
    <script th:if="${@environment.getActiveProfiles()[0] == 'development'}"
            th:src="@{/js/vendor/util.js}"></script>
    
    <script th:if="${@environment.getActiveProfiles()[0] == 'production'}"
            th:src="@{/js/vendor/react-with-redux.min.js}"></script>
    <script th:if="${@environment.getActiveProfiles()[0] == 'development'}"
            th:src="@{/js/vendor/react-with-redux.js}"></script>
       
    <link rel="stylesheet" th:href="@{/css/style.css}" />
  </head>

  <body class="main-landing">
    <div id="root"></div>
  </body>

  <script th:if="${@environment.getActiveProfiles()[0] == 'production'}"
          th:src="@{/js/helix-core.min.js}"></script>
  <script th:if="${@environment.getActiveProfiles()[0] == 'development'}"
          th:src="@{/js/helix-core.js}"></script>

  <th:block th:if="${@environment.getProperty('helix.googleanalytics.tracker-id') != null}">
    <th:block th:replace="googleanalytics-tracker.html" />
  </th:block>  

</html>
