.advanced-search {
  .tabs {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    padding: 10px 0px;
    display: flex;
    .tab-item {
      flex-basis: 0px;
      flex-grow: 1;
      max-width: 100%;
      border-bottom: 3px solid transparent;
      padding-bottom: 10px;
      &:hover {
        cursor: pointer;
      }
      &.selected {
        &.data {
          border-color: $data-color;
        }
        &.pubs {
          border-color: $pubs-color;
        }
        &.lab {
          border-color: $lab-color;
        }
      }
    }
  }
  .fields {
    min-height: 60vh;
  }
  .btn {
    cursor: pointer;
  }
  input.search-text {
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 20px;
    width: 80%;
    height: 45px;
    line-height: 2.3;
    letter-spacing: .025em;
    color: $main-black;
    font-weight: 400;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    &::-moz-selection {
      color: white;
      background-color: #BFBFBF;
    }
    &::selection {
      color: white;
      background-color: #BFBFBF;
    }
  }
  .param-box {
    margin-top: 35px;
    max-height: 265px;
    overflow-y: auto;
    &.providers {
      max-height: unset;
    }
    &.filters {
      max-height: unset;
      padding: 0px 10px;
      overflow-y: unset;
    }
    &.less {
      overflow: hidden;
    }
    .title {
      margin-left: 13px;
      margin-bottom: 25px;
    }
    .title-label {
      font-family: $body_font;
      font-weight: 400;
      font-size: 15px;
      line-height: 1;
      letter-spacing: .025em;
    }
    .switches {
      label {
        display: block;
        border-bottom: 1px solid $details-grey;
        margin-left: 15px;
        padding: 10px 0;
        position: relative;
        font-weight: 300;
        font-size: 14px;
        color: $details-grey;
        letter-spacing: .05em;
        line-height: 1.5;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        input {
          position: relative;
          top: 2px;
          background-color: white;
          border: 1px solid $main-black;
          border-radius: 2px;
          margin-right: 10px;
        }
      }
      .more-link {
        margin-left: 15px;
        margin-top: 17px;
        a {
          font-weight: 300;
          font-size: 14px;
          color: $details-grey;
          letter-spacing: .05em;
          line-height: 1.5;
        }
      }
    }
    .map-container img {
      width: 100%;
    }
  }
  section.footer {
    padding: 2rem;
    button.landing-search-button {
      outline: none;
      color: white;
      background-color: $main-black;
      border: none;
      border-radius: 25px;
      height: 50px;
      right: 0;
      opacity: 1;
      transition: all .2s ease-in-out;
      -webkit-transition: all .2s ease-in-out;
      -moz-transition: all .2s ease-in-out;
      -o-transition: all .2s ease-in-out;
      width: 100%;
      &:hover {
        opacity: .5;
        cursor: pointer;
      }
    }
  }
}
