.single{
  background: $gradientBg;
  position: relative;
  padding-bottom: 40px;
  &--forum{
    padding-bottom: 0;
  }

  &__layer{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-position:center;
    background-size: cover;
    background-attachment: fixed;
    mix-blend-mode: multiply;
  }

  &__text{
    background:$mainColor;
    padding:25px 290px;
    letter-spacing: 1px;
    line-height: 1.5;
    position: relative;
    @media(max-width:1280px){
      padding:25px 150px;
    }
    @media(max-width:768px){
      padding:20px;
    }
    p{
      margin-bottom: 20px;
    }
    a {
      font-weight: 600;
      transition: color 0.2s ease;
      &:hover {
        color: rgba(252, 160, 31,1);
      }
    }
    ul {
      padding-left: 20px;
      list-style: disk;
      margin-bottom: 20px;
    }
    &--pb{
      padding-bottom: 200px;
    }
    &--pt{
      padding-top: 200px;
    }
    &:first-child{
      p{
        &:first-child{
          &::first-letter{
            font-size: 5em;
            background-image: url(../../images/letter-back.png);
            background-position:center;
            background-size: contain;
            background-repeat: no-repeat;
            padding:20px;
            color:$mainColor;
            float: left;
            margin-right: 20px;
            @media(max-width:576px){
              font-size: 3em;
            }
          }
        }
      }
    }
  }
  .img-spacer {
    padding: 100px 0;
  }
  &__quote{
    @include fluid-type(30px, 60px);
    margin: 10px 20px;
    padding: 0 20px;
    text-align: center;
    position: relative;
    h4, p{
      background:$mainColor;
      display: inline-block;
      padding: 0 20px;
      font-weight: 700;
      //margin: 0 30px;
      display: inline;
      padding: 0em 0.5em;
      margin: 0em -0.5em;
      background: $mainColor;
      //box-shadow: 0em 0 0 red,0em 0 0 red;
      box-decoration-break: clone;
      line-height: 1.5;
      mix-blend-mode: lighten;
    }
  }
  &__image{
    text-align: center;
    margin: -100px auto -160px auto;
    position: relative;
    z-index: 1;
    img{
      padding: 0 20px;
      max-width: 715px;
      width: 100%;
      height: auto;
    }
    &__caption{
      padding:20px 0;
      font-size: em(12);
    }
  }
}

.hero{
  position: relative;
  // min-height: calc(100vh - 80px);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  &__wrapper{
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 40px 20px 50px;
  }
  &__icon{
    padding: 40px 0;
  }
  &__info{
    font-size: em(15);
    color:$mainColor;
    margin-top: 40px;
  }
  .page__breadcrumbs li a{
    text-decoration: none;
  }
  h1{
    padding: 10px 30px 20px;
    @include fluid-type(30px, 74px);
    font-weight: 700;
    line-height: 1.1em;
    background: $gradientFont;
    //-webkit-background-clip: text;
    //-webkit-text-fill-color: transparent;
    color:$mainFontColor;
    display: inline;
    padding: 0em 0.5em;
    margin: 0em -0.5em;
    background: $mainColor;
    //box-shadow: 0em 0 0 red,0em 0 0 red;
    box-decoration-break: clone;
    line-height: 1.5;
    mix-blend-mode: lighten;
  }
}
