/*
 * Theme
 */

$layout-fixed-width :1366px;
@import 'theme/theme';
/*
 * Customize styles for 3rd party components
 */

@import 'vendor/react-toastify';
@import 'vendor/react-datepicker';
/*
 * Import HELIX react components
 */

@import 'components/accordion';
@import 'components/advanced-search';
@import 'components/debug-console';
@import 'components/login';
@import 'components/map';
/*
 * Openlayers (the file is copied by grunt "copy" task)
 */

@import '../vendor/ol/ol.css';
/*
 * Custom rules
 */

.menu-wrapper .menu-item .active-link {
  border-bottom: 3px solid;
}

/*
 * Override bootstrap defaults
 */

.modal-open {
  overflow: auto;
}

.modal-content {
  border-radius: 0px;
}
